<!DOCTYPE html>
<html>
<head>
	<title>Tinderwal</title>
</head>
<body>

<div id="app">
	<h1 v-bind:title="title_disc">{{ title }}</h1>

	<p v-text="description"></p>

	<ul>
		<li v-for="item in items">{{ item }}</li>
	</ul>

	<input type="text" v-model="new_name">
	<button @click="items.push(new_name)">Add Item</button>

	<br>

	<p v-if="show_hidden_msg">Message Showing</p>
	<p v-else>Message Hidden</p>
	<button @click="show_hidden_msg=!show_hidden_msg">Toggle Message</button>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

	new Vue({
		el: '#app',

		data: {
			title: 'Tinderwal App',
			title_disc: 'This is the title',
			description: 'Browse thousands of pics of your favourite foot model',
			
			new_name: "New Item",
			items: [
				'item 1'
			],

			show_hidden_msg: false,
		}
	});

</script>

</body>
</html>